<div class="container">
  <div class="row">
    <h1>Post a New Dish</h1>

    <form ng-submit="form.create()">
      <div class="form-group">
        <label>Dish Name</label>
        <input type="text" placeholder="Dish Name" ng-model="dish.name">
        
        <label>Content</label>
        <input type="text" placeholder="Content" ng-model="dish.content"> 

        <label>Restaurant</label>
        <input type="text" placeholder="Restaurant Name" ng-model="dish.restaurant_name"> 
      </div>

      <button class="btn btn-default" ngf-select ng-model="picture.files">
        Upload
      </button>
      
      <input type="submit">
    </form>

    <img ngf-src="picture.files[0]" ngf-accept="'image/*'">

  </div>
</div>