.dishName, .dishRestaurant {
  background-color: #222;
  opacity: 1;
  display: inline-block;
  padding: 5px;
}

.dishName {
  color: white;
}

.dishRestaurant {
  color: #ff0;
}

.container {
  margin-top: 50px;
}

.dishPicture {
  margin-top: -85px;
  border-right: thin dotted #333;
}

.dishContent {
  font-size: 20px;
  padding-bottom: 10px;
}

.sidebar {
  height: 719px;
  padding-top: 30px;
}
